<web-app>
<servlet>
<servlet-name>ser21</servlet-name>
<servlet-class>ser21</servlet-class>
</servlet>
<servlet>
<servlet-name>serda</servlet-name>
<servlet-class>serda</servlet-class>
</servlet>
<servlet>
<servlet-name>Cook</servlet-name>
<servlet-class>Cook</servlet-class>
</servlet>
<servlet>
<servlet-name>Serss</servlet-name>
<servlet-class>Serss</servlet-class>
</servlet>
<servlet>
<servlet-name>Sss</servlet-name>
<servlet-class>Sss</servlet-class>
</servlet>
<servlet>
<servlet-name>Pros</servlet-name>
<servlet-class>Pros</servlet-class>
</servlet>
<servlet>
<servlet-name>Procan</servlet-name>
<servlet-class>Procan</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ser21</servlet-name>
<url-pattern>/s21</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>serda</servlet-name>
<url-pattern>/s2</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Cook</servlet-name>
<url-pattern>/c</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Serss</servlet-name>
<url-pattern>/sr</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Sss</servlet-name>
<url-pattern>/ss</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Pros</servlet-name>
<url-pattern>/mem</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Procan</servlet-name>
<url-pattern>/can</url-pattern>
</servlet-mapping>
</web-app>